/* Index
-Varaibles
-Header
-Main Bodies
-Menu
-Game
-Finish
-Scoreboard
*/

/* Variables */
:root{
    --headcolor: grey;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headcolor);
}

header a, header h1 {
    font-size: larger;
    padding: 27px;
}

/* Main Bodies */
.mainbox{
    width: 60%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    border-style: outset;
    border-width: 6px;
}

/* Menu */
/*  */
/*  */
/*  */